# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\电子书\python_album\Python_100_Days\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
